---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`fixed inset-0 pointer-events-none overflow-hidden aurora-bg ${className}`}>
  <div class="absolute top-0 left-1/4 w-[600px] h-[600px] bg-blue-600/30 dark:bg-blue-600/10 rounded-full blur-[120px] gradient-animate"></div>
  <div class="absolute bottom-1/4 right-1/4 w-[500px] h-[500px] bg-blue-500/20 dark:bg-blue-500/10 rounded-full blur-[100px] gradient-animate" style="animation-delay: -4s;"></div>
  <div class="absolute top-1/2 left-0 w-[400px] h-[400px] bg-orange-500/15 dark:bg-orange-500/5 rounded-full blur-[80px]"></div>
</div>
